
<div class="user" *ngFor="let user of users" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card class="users">
            <mat-card-content>
                <mat-toolbar style="background-color: rgb(179, 59, 59); height: 35px;"></mat-toolbar>
                <div class="container" style="margin-left: 35%; margin-top: 2%">
                        <div fxFlex="1 2 calc(10em + 20px)" fxFlexFill class="imgdiv">
                            <div class="imagediv" *ngIf="user.imageUrl!=null">
                                <img src={{user.imageUrl}} class="img"/>
                            </div>
                            <div class="imagediv" *ngIf="user.imageUrl==null">
                                    <img src={{this.profile}} class="img"/>
                                </div>
                        </div>
                </div>
                    <br>
                <mat-divider></mat-divider>
                <br>
                <div>
                    <b>Name:</b> {{user.name}}
                </div>
                <br>
                <mat-divider></mat-divider>
                <br>
                <div>
                    <b>Email Id:</b> {{user.email}}
                </div>
                <br>
                <mat-divider></mat-divider>
                <br>
                <div>
                    <b>User Name:</b> {{user.userName}}
                </div>
                <br>
                <mat-divider></mat-divider>
                <br>
                <div>
                    <b>Mobile Number:</b> {{user.mobileNumber}}
                </div>
                <br>
                <mat-divider></mat-divider>
                <br>
                <div>
                    <b>Account Verification Status:</b> {{user.verify}}
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    
