
<app-admin></app-admin>

<div class="user"  fxLayout="column" fxLayoutAlign="space-around center">
        
    <table style="margin-top: 2%">
        <tr>
          <th>Seller Id</th>
          <th>Name</th>
          <th>Email Id</th>
          <th>User Name</th>
          <th>Contact No</th>
          <th>Verification Status</th>
          <th>Action</th>
        </tr>
        
        <tr *ngFor="let user of users; let i = index">
          <td style="text-align: center">{{i+1}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.userName}}</td>
          <td style="text-align: right">{{user.mobileNumber}}</td>
          <td style="text-align: center">{{user.verify}}</td>
          <td><a mat-button style="color: brown" href="http://localhost:4200/admin-dashboard/booksForVerification" (click)="onLink(user)">Verify Books</a></td>
        </tr>
      </table>
</div>
