// .main-div {
//     margin-top:-24%;
//     float: left;
//     width: 25%;
//     padding: 0 10px;
//     padding-bottom: 27%;
//   }
  

  
  

  
  
  
  
  
  
  
  
  
  //  .row {margin: 0 -30%;}
   
  //  .row:after {
  //   content: "";
  //   display: table;
  //   clear: both;
  // }
  
  
  
  @media screen and (max-width: 600px) {
    .main-div {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  // .mat-card {
  // width: 220px;
  // padding: 0%;
  // }
  // .mat-card:hover {
  // box-shadow: 0 4px 8px 0 rgba(70, 71, 70, 0.2),
  // 0 6px 20px 0 rgba(29, 29, 29, 0.19);
  // }
  
  
  // .mat-card-title{
  //     font-size: 17px;
  //     color: cornflowerblue;
  // }


  .price{
      font-size: 12px;
      color: black;
      font-weight: bold;
    //   margin-top: 22px;
      margin-left: -79px;
   }

   .author{
    font-size: 12px;
    color: dodgerblue;
    margin-left: -79px;
    margin-top: 10px;
    padding-bottom: 19px;
   }

 


.mat-card-title{
    font-size: 15px;
    color: dodgerblue;
    margin-top: -10px;
    margin-left: -79px;
  
}



  
  .bookImageDiv {
    background-color: rgb(240, 233, 233);
  }
  
  .a{
      line-height: normal;
  }
  
  img {
    padding: 3%;
    //   width: 80%;
    //   height: 30vh;
    width: 90px;
    height: 100px;
    margin-left: -30px;
  }
  .bookInfoDiv {
    padding: 7% 10% 10% 10%;
  }
  
  
  
  .mat-raised-button {
    font-weight: 100;
      font-size: 10px;
      padding-bottom: 30px;
      height: 15px;
      width: 90px;
      background-color: darkgoldenrod;
      color: white;
      text-align: center;
      display: inline-block;
      
  }
  
  
  .mat-stroked-button{
      font-weight: 100;
      font-size: 10px;
      padding-bottom: 30px;
      height: 18px;
      width:105px;
      background-color: rgb(179, 59, 59);
      color: black;
      text-align: center;
      display: inline-block;
  }
  
  .title-center {
    flex: 1 1 auto;
    text-align: center;
  }

//   .box{
//     width: 100%;
//     height: 60%;  
//     padding: 26%;
//     border: 1px solid whitesmoke;
//     border-radius: 1px;
//     border-color: lightgray;
// }

.mat-toolbar {
  background-color: rgb(179, 59, 59);
  height: 50px;
  padding-bottom: 15px;
}



  