<div
  style="
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
  "
  fxLayoutGap="40px"
  ngClass.lt-md="main-div-lt-md"
  fxLayout="row wrap"
>
  <div *ngFor="let book of books" fxLayout="row">
    <mat-card>
      <div class="bookImageDiv" fxLayoutAlign="center">
        <img src="../../../assets/images/bookstore-wallpaper.jpg" />
      </div>

      <div class="bookInfoDiv" fxLayout="column">
        <input
          class="input-title"
          matInput
          type="text"
          autocomplete="off"
          [(ngModel)]="book.bookName"
        />
        <div fxlayout="row">
          <span class="input-author-span">by</span>
          <input
            class="input-author"
            matInput
            type="text"
            autocomplete="off"
            [(ngModel)]="book.authorName"
          />
        </div>
        <div fxlayout="row">
          <span class="input-price-span">Rs.</span>
          <input
            class="input-price"
            matInput
            type="text"
            autocomplete="off"
            [(ngModel)]="book.price"
          />
        </div>
      </div>
    </mat-card>
    <div class="book-details">
      <span>{{ book.bookDetails }}</span>
    </div>
  </div>
</div>
