<mat-card>
  <div fxLayout="column">
    <span class="My-cart"> My Cart({{ cartSize }})</span>
    <div
      fxLayout="column"
      fxLayoutAlign="space-around start"
      *ngFor="let cartBook of cartBooks"
    >
      <div class="book" fxLayout="row">
        <div class="book-image">
          <img src="{{ cartBook.book.imageURL }}" />
        </div>

        <div
          fxLayout="column"
          fxLayoutAlign="start start"
          class="book-details"
          fxLayoutGap="6%"
        >
          <span>{{ cartBook.book.bookName }}</span>
          <span class="author-name">by {{ cartBook.book.authorName }}</span>
          <span>Rs. {{ cartBook.book.price }}</span>
        </div>
      </div>
      <div
        class="input-group"
        fxLayout="row"
        fxLayoutGap="2%"
        fxLayoutAlign="start center"
      >
        <button
          mat-mini-fab
          class="button-minus"
          (click)="removeQuantity(cartBook)"
          [disableRipple]="true"
          fxLayoutAlign="center start"
        >
          <mat-icon
            fxLayoutAlign="center center"
            style="color: black; font-size: xx-small;"
            >remove</mat-icon
          >
        </button>
        <input
          mat-input
          type="number"
          readonly
          max="5"
          min="1"
          value="{{ cartBook.bookQuantity }}"
          class="quantity-field"
        />
        <button
          mat-mini-fab
          class="button-plus"
          (click)="addQuantity(cartBook)"
          [disableRipple]="true"
          fxLayoutAlign="center start"
        >
          <mat-icon
            fxLayoutAlign="center center"
            style="color: black; font-size: xx-small;"
            >add</mat-icon
          >
        </button>
        <button
          mat-button
          class="button-remove"
          (click)="removeFromCart(cartBook)"
          [disableRipple]="true"
          fxLayoutAlign="center center"
        >
          Remove
        </button>
      </div>
    </div>
    <div fxLayoutAlign="end">
      <button
        mat-button
        (click)="toggle()"
        class="button-placeorder"
        fxLayoutAlign="center center"
        [disableRipple]="true"
      >
        <span style="font-size: small; height: 10px; color: white;"
          >PLACE ORDER</span
        >
      </button>
    </div>
  </div>
</mat-card>
<!-- </div> -->
<mat-card class="form">
  Customer Details
  <ng-container *ngIf="show">
    <div style="margin: 0 auto; text-align: left;">
      <br />

      <form [formGroup]="addressGroup" (ngSubmit)="continue()">
        <mat-form-field appearance="outline">
          <mat-label>*Name</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            formControlName="name"
            id="name"
          /> </mat-form-field
        ><br /><br />

        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              placeholder="Placeholder"
              formControlName="phone"
              id="phone"
            /> </mat-form-field
          ><br /><br />
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Pin code</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            formControlName="pincode"
            id="pincode"
          />
        </mat-form-field>

        <div class="row1">
          <mat-form-field appearance="outline">
            <mat-label>Locality</mat-label>
            <input
              matInput
              placeholder="Placeholder"
              formControlName="locality"
              id="locality"
            /> </mat-form-field
          ><br /><br />
        </div>
        <br /><br />

        <mat-form-field appearance="outline" fxFlexFill>
          <mat-label>Address</mat-label>
          <textarea
            matInput
            formControlName="address"
          ></textarea></mat-form-field
        ><br /><br />

        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            formControlName="city"
            id="city"
          /> </mat-form-field
        ><br />

        <div class="row2">
          <mat-form-field appearance="outline">
            <mat-label>LandMark</mat-label>
            <input
              matInput
              placeholder="Placeholder"
              formControlName="landmark"
              id="landmark"
            />
          </mat-form-field>
        </div>
        <br /><br />

        <mat-radio-group fxLayoutGap="5%" formControlName="type">
          <mat-radio-button class="" value="home">Home</mat-radio-button>
          <mat-radio-button value="work">Work</mat-radio-button>
          <mat-radio-button value="other"
            >Other</mat-radio-button
          > </mat-radio-group
        ><br /><br />

        <div fxLayoutAlign="end">
          <button
            mat-button
            class="button-placeorder"
            fxLayoutAlign="center center"
            [disableRipple]="true"
          >
            <span style="font-size: small; height: 10px; color: white;"
              >Continue</span
            >
          </button>
        </div>
      </form>
    </div>
  </ng-container>
</mat-card>

<mat-card class="orderMat" fxLayout="column">
  <p class="text-muted">Order summary</p>
  <div *ngFor="let item of bookSum">
    <div fxLayout="row" *ngIf="disp">
      <div class="child1">
        <img src="{{ item.book.imageURL }}" />
      </div>
      <div class="child2">
        <div class="mat-body-2">{{ item.book.bookName }}</div>
        <div class="mat-caption text-muted">{{ item.book.authorName }}</div>
        <div class="mat-body-2">Rs.{{ item.book.price }}</div>
      </div>
    </div>
    <div fxLayoutAlign="end" *ngIf="disp">
      <button
        mat-button
        class="button-placeorder"
        (click)="checkout(item.book.bookId, item.book.quantity)"
        id="check"
      >
        CHECKOUT
      </button>
    </div>
  </div>
</mat-card>