
<div class="user" *ngFor="let user of users" fxLayout="column" fxLayoutAlign="space-around center">
    <mat-card class="users">
        <mat-card-content>
            <p>
                <b>Name:</b> {{user.name}}
            </p>
            <p>
                <b>Email Id:</b> {{user.email}}
            </p>
            <p>
                <b>User Name:</b> {{user.userName}}
            </p>
            <p>
                <b>Mobile Number:</b> {{user.mobileNumber}}
            </p>
            <p>
                <b>Registration Date & Time:</b> {{user.registrationDateTime}}
            </p>
            <p>
                <b>Last Updatation Date & Time:</b> {{user.updateDateTime}}
            </p>
            <p>
                <b>Account Verification Status:</b> {{user.verify}}
            </p>
        </mat-card-content>
    </mat-card>
</div>
