<div class="container">
  <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
    <div class="container-fluid">
      <mat-card class="my-card">
        <mat-toolbar>
          <span class="title-center">{{ title }}</span>
        </mat-toolbar>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            type="text"
            formControlName="loginid"
            placeholder="username" 
            rows="3"
            maxlength="300"
            matInput
            [ngClass]="{ 'is-invalid': submitted && f.loginid.errors }"
          />
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="LoginForm.get('loginid').hasError('required')"
            >*username is required</mat-error
          >
          <mat-error *ngIf="LoginForm.get('loginid').hasError('minlength')"
            >*provide minimum 4 characters</mat-error
          >
          <mat-error *ngIf="LoginForm.get('loginid').hasError('maxlength')"
            >provide less than 15 characters</mat-error
          > </mat-form-field
        ><br />

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            placeholder="password"
            rows="3"
            maxlength="300"
            matInput
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon matSuffix>{{
              hide ? "visibility_off" : "visibility"}}</mat-icon>
          </button>
          <mat-error *ngIf="LoginForm.get('password').hasError('required')">*password is required</mat-error>
          <mat-error *ngIf="LoginForm.get('password').hasError('minlength')">provide a strong password</mat-error>
          <mat-error *ngIf="LoginForm.get('password').hasError('maxlength')">provide password less than 12 characters</mat-error> 
          </mat-form-field>
          <div class="right">
            <button mat-button   [routerLink]="['/forgotpassword']">forgot password?</button>
           </div>
        <mat-radio-group formControlName="userroles">
        <mat-radio-button value="vendor">vendor</mat-radio-button>
          <mat-radio-button style="margin-left: 5px;" value="customer">customer</mat-radio-button>
          <mat-error *ngIf="LoginForm.get('userroles').hasError('required')">*role is required</mat-error>
         </mat-radio-group><br />
          <div class="left">
          <button mat-button   [routerLink]="['/register']">Register</button>      <button mat-raised-button mat-dialog-close type="submit">Next</button>
          </div>
         </mat-card><br/>
      </div>
  </form>
</div>