input{
    width: 250px;
    outline: none;
    border: none;
    margin-top: 10px
}
.container-fluid{
    margin-left: 35%;
}
h3{
  margin-left: 45px;
}
button{
    margin-top: 10px;
    background-color: rgb(114, 10, 10); 
    color: aliceblue;
}
mat-card{
    margin-top: 10px;
}

  