
button{
    background-color: rgb(114, 10, 10); 
    color: aliceblue;
}
mat-card{
    width: 40%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black;
    
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: black;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgb(114, 10, 10);
}

::ng-deep .mat-form-field-label {
    color: rgb(114, 10, 10);
    // color: $mainColor!important;
}
::ng-deep .mat-card{
    border-radius: 2% !important;
    border: #000 !important;
   }