<div fxLayout="column" fxLayoutAlign="space-around center">
    <mat-card fxLayout="column" fxLayoutAlign="space-around">
        <mat-toolbar class="container" flexLayout="row">
            <mat-toolbar-row fxLayoutAlign="center">Registration Form</mat-toolbar-row>
        </mat-toolbar>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput maxlength="25" type="text" [formControl]="name" placeholder="Name" autocomplete="off" class="input" />
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-error *ngIf="name.hasError('required')">*Name is Required</mat-error>
            <mat-error *ngIf="name.hasError('pattern')">*Min 8 chars,Must start with Capital and should've 2 words</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email Id</mat-label>
            <input matInput maxlength="35" [formControl]="email" placeholder="Email Id" autocomplete="off" class="input" />
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="email.hasError('email')">Ex: abc@gmail.com</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput maxlength="14" type="text" [formControl]="username" autocomplete="off" placeholder="User Name" class="input" />
            <mat-icon matSuffix>face</mat-icon>
            <mat-hint *ngIf="username.hasError('minlength')">Atleast 4 letters</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput maxlength="16" [type]="passwordType" placeholder="Password" autocomplete="off" [formControl]="password"
                class="input" />
            <mat-icon matSuffix *ngIf="(!show)" (click)="onclick()">
                visibility_off</mat-icon>
            <mat-icon matSuffix *ngIf="(show)" (click)="onclick()">
                visibility_on</mat-icon>
            <mat-error *ngIf="password.hasError('required')">*password is required</mat-error>
            <mat-error *ngIf="password.hasError('pattern')">*Min 8 chars,Must start with Capital and must contain 1 num,1 special symbol</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input matInput maxlength="10" placeholder="Mobile Number" autocomplete="off" [formControl]="phone" class="input" />
            <mat-icon matSuffix>phone_android</mat-icon>
            <mat-error *ngIf=" phone.hasError('minlength')">Atleast 10 digits</mat-error>
            <mat-error *ngIf=" phone.hasError('pattern')">*Must Be Numbers</mat-error>
        </mat-form-field>
        <mat-radio-group aria-label="Select an option" fxLayoutGap="10%" [(ngModel)]="radioval">
            <mat-radio-button value="3">Buyer</mat-radio-button>
            <mat-radio-button value="2">Seller</mat-radio-button>
        </mat-radio-group>
        <div fxFlexAlign="end" fxLayoutGap="25px">
            <a><button mat-button mattooltip="Login" style="color:rgb(114, 10, 10);" (click)="onLogin()">have an Account?</button></a>
            <button mat-raised-button mattooltip="Register" class="regbutton" (click)="onRegister()">Register</button>
        </div>
    </mat-card>
</div>