<app-admin></app-admin>
<div style="
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
  " fxLayoutGap="40px" ngClass.lt-md="main-div-lt-md" fxLayout="row wrap">
  <div *ngFor="let book of books" fxLayout="row">
    <mat-card>
      <div class="bookImageDiv" fxLayoutAlign="center" *ngIf= "imageURL=='string'||imageURL==undefined||imageURL==null">
        <img src="../../../assets/images/bookstore-wallpaper.jpg" />
      </div>
      <div class="bookImageDiv" fxLayoutAlign="center" *ngIf= "imageURL!='string'&&imageURL!=undefined&&imageURL!=null">
        <img src="../../../assets/images/bookstore-wallpaper.jpg" />
      </div>
      

      <div class="bookInfoDiv" fxLayout="column">
        <input class="input-title" matInput type="text" autocomplete="off" [(ngModel)]="book.bookName" />
        <div fxlayout="row">
          <span class="input-author-span">By {{book.authorName}}</span>
        </div>
        <div fxlayout="row">
          <span class="input-price-span">Rs.{{book.price}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <button mat-raised-button [disabled]="(counter==book.bookId)" fxLayoutAlign="center" [disableRipple]="true" (click)="onApprove(book)" >
            APPROVE
          </button>
          <button mat-raised-button [disabled]="(counter==book.bookId)"fxLayoutAlign="center" [disableRipple]="true" (click)="onReject(book)" >
            REJECT
          </button>
        </div>
      </div>
    </mat-card>
    <div class="book-details">
      <span>{{book.bookDetails}}</span>
    </div>
  </div>
</div>