.admin{
    width:92%;
    margin-left: 4%;
}
.tool{
    background-color: rgb(114, 10, 10); 
    height: 55px;
 }
.logo{
    position: absolute;
    color:aliceblue;
    margin-top: 1.2%;
    margin-left: 15%
}
.welcome{
    position: absolute;
    color:aliceblue;
    margin-top: 0.8%;
    margin-left: 40%;
    font-size: 150%;
}
.menu{
    color: white;
    margin-left: 4%;
}
.myMenu{
    background: none;
    outline: none;
}