.admin{
    width: 100%
    // width:92%;
    // margin-left: 4%;
}
.tool{
    background-color: rgb(179, 59, 59);
    height: 55px;
    color: aliceblue;
    
 }
.logo{
    position: absolute;
    color:aliceblue;
    margin-top: 1.2%;
    margin-left: 15%
}
.welcome{
    position: absolute;
    color:aliceblue;
    margin-top: 0.8%;
    margin-left: 45%;
    font-size: 150%;
}



