.admin{
    width: 100%
    // width:92%;
    // margin-left: 4%;
}
.tool{
    background-color: rgb(179, 59, 59);
    height: 55px;
    color: aliceblue;
    
 }
.logo{
    position: absolute;
    color:aliceblue;
    margin-top: 1.2%;
    margin-left: 15%
}
.welcome{
    position: absolute;
    color:aliceblue;
    margin-top: 0.8%;
    margin-left: 45%;
    font-size: 150%;
}


@media only screen and (min-width: 600px) {
    .main-div {
      width: 100%;
    }
  }
  @media only screen and (width: 823px) {
    .main-div {
      width: 100%;
    }
  }
  @media only screen and (width: 736px) {
    .main-div {
      width: 100%;
    }
  }
  @media only screen and (width: 731px) {
    .main-div {
      width: 100%;
    }
  }
  @media only screen and (width: 812px) {
    .main-div {
      width: 100%;
    }
  }
  @media only screen and (width: 768px) {
    .main-div {
      width: 100%;
    }
  }
  @media only screen and (max-width: 320px) {
    .main-div {
      width: 100%;
    }
  }
  @media only screen and (max-width: 500px) {
    .main-div{
        width: 100%;
    }
    .tool {
      width: 100%;
    }
  }