.discount {
  margin-left: 6%;
  margin-top: 4%;
  width: 44%;
  height: 120px;
}
img {
  width: 60px;
  height: 70px;
}

.discount-details {
  margin-left: 14%;
  font-size: 15px;
  margin-top: 21px;
  white-space: nowrap;
  color:#003300;
  font-weight: bold;
  font-style: normal;
}
button{
  outline: none;
}
.mat-hint{
  font-size: 12px;
  font-weight: lighter;
  margin-left: 4px;
}


.box{
  width: 453px;
  padding: 10px;
  border: 0px solid white;
  margin: 0;
}
.box:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.pointer {
  cursor: pointer;
}


.mat-stroked-button{
  width: 120px;
  height: 35px;
  margin-top: -10px;
}

