button{
    background-color:rgb(179, 59, 59);
    width: 25%;
}
mat-card-title{
    // background-color: rgb(122, 149, 240);
    padding-left: 0px;
    padding-right: 0px;
}
.container{
    width: 100%;
    height: 100%;
}
