table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  .tool{
    background-color: rgb(179, 59, 59);
    height: 55px;
    color: aliceblue;
    
 }
 th{
   background-color:grey;
   color: white;
 }
  